.welcome {
    text-align: center;
    background-color: #354358;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .btn{
    background: linear-gradient(30deg, #a94caa 35%, #2ecc71 80%);
  }
  .grtng{
    text-align: justify;
    align-content: space-around;
    font-weight: 750;
    color: #020024;
  }
  
  
  